@page "/login"
@attribute [AllowAnonymous]

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-center align-items-center vh-100">
            <RadzenRow Gap="0"
                       Class="rz-mx-6 rz-border-radius-4 rz-shadow-4 rz-background-color-white"
                       Style="width: 100%; max-width: 800px; overflow: hidden;">

                <RadzenColumn Size="12"
                              SizeMD="6">
                    <RadzenStack Gap="0"
                                 Orientation="Orientation.Vertical"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Center"
                                 Wrap="FlexWrap.Wrap"
                                 Style="height: 100%;"
                                 class="rz-py-12 rz-background-color-primary-light">
                        <RadzenText TextStyle="TextStyle.H4"
                                    TagName="TagName.Auto"
                                    class="text-white">
                            Welcome Back
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"
                                    TagName="TagName.Auto"
                                    class="text-white">
                            Nice to see you again
                        </RadzenText>
                    </RadzenStack>
                </RadzenColumn>

                <RadzenColumn Size="12"
                              SizeMD="6">
                    <RadzenStack Gap="0"
                                 Orientation="Orientation.Vertical"
                                 Wrap="FlexWrap.Wrap"
                                 Style="height: 100%;"
                                 class="rz-p-12">
                        <RadzenText TextStyle="TextStyle.H5"
                                    TagName="TagName.Auto"
                                    Class="mx-auto">
                            Hello,
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"
                                    TagName="TagName.Auto"
                                    Class="rz-mb-6 mx-auto">
                            Please sign in to your account
                        </RadzenText>
                        <RadzenTemplateForm Context="LoginContext"
                                            Data="@loginData"
                                            Submit="@((UserAuthenticationDTO args) => OnLogin(args))">
                            <FluentValidationValidator />

                            <RadzenStack Gap="1.2rem"
                                         Orientation="Orientation.Vertical">
                                <RadzenTextBox Name="UserName"
                                               Placeholder="Username"
                                               @bind-Value="loginData.UserName" />

                                <RadzenPassword Name="Password"
                                                Placeholder="Password"
                                                @bind-Value="loginData.Password" />

                                <ValidationSummary />
                                <RadzenButton Text="Sign in"
                                              ButtonType="ButtonType.Submit"
                                              ButtonStyle="ButtonStyle.Primary"
                                              IsBusy="@IsSaving" />
                                <RadzenText>Don't have an account? <RadzenLink Path="/registration">Register</RadzenLink></RadzenText>
                                @*                                 <RadzenButton Click="@OnRegister"
                                Text="Register"
                                ButtonStyle="ButtonStyle.Secondary" /> *@
                            </RadzenStack>
                        </RadzenTemplateForm>
                        <RadzenAlert AlertStyle="AlertStyle.Danger"
                                     Variant="Variant.Flat"
                                     Shade="Shade.Lighter"
                                     @bind-Visible="AlertVisible">
                            @ErrorMessage
                        </RadzenAlert>
                    </RadzenStack>
                </RadzenColumn>

            </RadzenRow>
        </div>
    </NotAuthorized>
</AuthorizeView>