@page "/product"

<PageTitle>@($"{GlobalVariable.AppName} | Product")</PageTitle>

<div class="rz-mb-6">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/product"
                              Text="Product" />
        <RadzenBreadCrumbItem Text="List" />
    </RadzenBreadCrumb>
</div>

