@page "/registration"
@attribute [AllowAnonymous]

<PageTitle>@($"{GlobalConstant.AppName} | User Registration")</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <RadzenRow Gap="2rem"
               Class="rz-border-radius-4 rz-shadow-4"
               Style="width: 100%; max-width: 500px; overflow: hidden;">

        <RadzenColumn Size="12">
            <RadzenCard class="rz-p-12">
                <RadzenStack Gap="1.2rem" Orientation="Orientation.Vertical">
                    <RadzenButton Variant="Variant.Text"
                                  Click=@(args => EvBackToPrevious())
                                  Icon="keyboard_return"
                                  Text="Return"
                                  ButtonStyle="ButtonStyle.Primary"
                                  Size="ButtonSize.Medium" class="col-4" />

                    <RadzenText TextStyle="TextStyle.H5"
                                TagName="TagName.H2"
                                Class="rz-mb-3 mx-auto">
                        Register
                    </RadzenText>
                    <RadzenTextBox Name="Email"
                                   Placeholder="Email" />

                    <RadzenPassword Name="Password"
                                    Placeholder="Password" />

                    <RadzenPassword Name="ConfirmPassword"
                                    Placeholder="Confirm Password" />

                    <RadzenButton Text="Register" ButtonStyle="ButtonStyle.Secondary" />
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</div>

@code {
    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    public void EvBackToPrevious()
    {
        NavigationManager.NavigateTo($"/login");
    }
}
